<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Payment Submitted</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="http://jarrettammerman.com/">Home</a>
        <a href="http://jarrettammerman.com/projects.html">Projects</a>
        <a href="http://jarrettammerman.com/contact.html">Contact</a>
        <a href="https://github.com/jammer4/stripe-payment-app">Code</a>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 50px">
        <h1>Payment Submitted</h1>
        <h1>Thank You For Your Order!</h1>
        <a href="/"><button>Back</button></a>
    </div>
</body>
</html>
